---
type input = {
  image: string;
  company: string;
  location: string;
  position: string;
  startDate: string;
  endDate?: string;
};

interface Props {
  input: input;
}

const { input } = Astro.props;
---

<div class="justify-center text-center mx-auto">
  <img
    class="max-h-48 max-w-48 m-auto"
    src={input.image}
    alt={`${input.company} logo`}
  />
  <div class="text-lg text-gray-300">
    <h2 class="text-2xl text-primary m-auto pt-2">{input.company}</h2>
    <h5 class="text-gray-500">{input.location}</h5>
    <h4 class="mt-2">{input.position}</h4>
    <h5 class="text-gray-500 mt-2">
      {`${input.startDate} - ${input.endDate ?? "Present"}`}
    </h5>
  </div>
</div>
